/***
 * Name: accordion.css
 * Date: Wed 8 Jan 2014
 * Author: Noemi Losada Estrella
 ***/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    color: #333;
    margin: 20px auto;
    width: 80%;
}

.ninja {
    display: none;
}

.booAccordion {
    text-align: center;
}

.booAccordion dt {
    background-color: #C4CBD1;
    border-bottom: 1px solid #ADB1B6;
    border-top: 1px solid #DFE8F3;
    color: #111;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    text-shadow: 2px 2px 1px #eee;
}

.booAccordion dd {
    background-color: #eee;
    color: #333;
    font-size: .85em;
    padding: 20px;
    text-align: left;
}

.booAccordion dd p:nth-child(n+2) {
    margin-top: 10px;
}
